.facts-chart{
    margin: 180px 60px;
    &__heading{
        font-size: $heading-size-m;
        font-weight: $font-weight-b;
    }
    .circles__list{
        width: 736px;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 60px;
        .progress-circle{
            .circle{
                margin-bottom: 20px;
                position: relative;
                .progress-circle__img{
                    
                }
                .progress-circle__value{
                    font-size: 32px;
                    font-weight: $font-weight-b;
                    position: absolute;
                    top: 40%;
                    left: 2%;
                    display: block;
                    width: 100%;
                }
            }
            .circle__heading{
                font-size: $text-size-s;
            }
        }
    }
}