.request-form{
    
    padding: 80px 0px;
    background: url('../../../images/backgrounds/background.png') 0 0 no-repeat;
    background-size: cover;
    .form-wrapper{
        justify-content: flex-end;
        .form{
            padding: 48px 40px;
            background-color: white;
            width: 495px;
            &__heading{
                font-weight: $font-weight-b;
                font-size: $heading-size-s;
                margin-bottom: 24px;
            }
            &__item{
                margin-bottom: 20px;
            }
            &__checkbox{
                display: flex;
                .checkbox{
                    width: 16px;
                    height: 16px;
                    margin-right: 12px;
                    border: 20px;
                }
                .checkbox-label{
                    font-size: $text-size-s;
                    color: $main-color-g;
                }
            }
            .button-wrapper{
                display: flex;
                justify-content: center;
                .form__button{
                    margin: 24px 0px 0px 0px;
                }
            }
        }
    }
}