$desktop-content-width: 1230px;

$main-color-w : #FFFFFF;
$main-color-g_l : #787A80;
$main-color-g : #424551;
$main-color-b : #1E212C;
$main-color-o : #FF5A30;

$text-size-xl: 20px;
$text-size-l: 18px;
$text-size-m: 16px;
$text-size-s: 14px;
$text-size-xs: 12px;

$heading-size-l: 72px;
$heading-size-m: 46px;
$heading-size-s: 28px;
$heading-size-xs : 20px;

$main-font_1: 'Ubuntu';

$font-weight-b : 700;
$font-weight-r : 400;